<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XLZRRZDY1X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XLZRRZDY1X');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Mental Math</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class = "index-page">
    <header>
        <h1>Welcome to Mental Math Exercises</h1>
    </header>
    <section>
        <p>Boost your mental math skills with fun exercises!</p>
        <p>Easy questions contain two whole numbers in the range [0,9]</p>
        <p>Medium questions contain one whole number in the range [0,9] and one whole number in the range [10,99]</p>
        <p>Hard questions contain two whole numbers in the range [10,99]</p>
        <label for="quiz-type">Choose a type of math question:</label>
        <select id="quiz-type">
            <option value="addition">Addition</option>
            <option value="subtraction">Subtraction</option>
            <option value="multiplication">Multiplication</option>
            <option value="division">Division</option>
            <option value="mixed">Mixed (Random)</option>
        </select>
        <br><br>
        <label for="difficulty">Choose the difficulty:</label>
        <select id="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <br><br>
        <button onclick="startQuiz()">Start Quiz</button>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>