body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;  /* Make font size relative */
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    width: 100%; /* Ensure header is responsive */
    margin: 0 auto;
}

h1 {
    font-size: 3rem; /* Use rem for font size */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: auto; /* Make button size responsive */
}

button:hover {
    background: #218838;
}

input {
    padding: 10px;
    font-size: 16px;
}

.index-page {
    background-color: lightblue;
    padding: 20px;
    width: 100%; /* Make sure it takes up full screen width */
}

.quiz-page {
    background-color: lightyellow;
}
